*.mpr filter=lfs diff=lfs merge=lfs -text
*.mpt filter=lfs diff=lfs merge=lfs -text
*.ch filter=lfs diff=lfs merge=lfs -text
*.dx filter=lfs diff=lfs merge=lfs -text
*.spe filter=lfs diff=lfs merge=lfs -text
*.xrdml filter=lfs diff=lfs merge=lfs -text
