{% extends 'base.html' %}
{% block title %}{{ ft['id'] | default('Not found') }}{% endblock %}
{% block content %}
{% if ft == None %}
    <h1>File Type not found</h1>
    <p>Sorry, the file type you requested was not found.</p>
{% endif %}

<h2><span class="ft-id">{{ ft['id'] }}</span> <span class="ft-name">({{ ft['name'] }}) [<a href="../api/filetypes/{{ ft['id'] }}">JSON</a>]</span></h2>

<div class="entry-description">
    <p>{{ ft['description'] }}</p>
</div>

<h4>Registered extractors:</h4>
{% if ft['registered_extractors'] | length == 0 %}
    <p>No registered extractors found.</p>
{% else %}
    <ul>
        {% for extractor in ft['registered_extractors'] %}
            <li><span class="ex-id"><a href="../extractors/{{ extractor }}">{{ extractor }}</a></span></li>
        {% endfor %}
    </ul>
{% endif %}

{% if ft['associated_file_extensions'] | length != 0 %}
<h4>Associated file extensions:</h4>
<ul>
    {% for ext in ft['associated_file_extensions'] %}
        <li>{{ ext }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if ft['associated_software'] | length != 0 %}
<h4>Associated software:</h4>
<ul>
    {% for software in ft['associated_software'] %}
        <li>{{ software }}</li>
    {% endfor %}
</ul>
{% endif %}


{% if ft['associated_vendors'] | length != 0 %}
<h4>Associated vendors:</h4>
<ul>
    {% for vendor in ft['associated_vendors'] %}
        <li>{{ vendor }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if ft['subject'] | length != 0 %}
<h4>Subjects:</h4>
<ul>
    {% for subject in ft['subject'] %}
        <li>{{ subject }}</li>
    {% endfor %}
</ul>
{% endif %}


<p><a class="ft" href="../filetypes">Return to the list of file types</a></p>
{% endblock %}
