{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}


<p>The idea of this site is to collect various file formats used in materials science and chemistry, describe them with metadata, and provide links to software projects that can parse them.</p>
<p>By providing this data in a web API, it hoped that users can discover new extractors more easily and metadata standards can be developed for the output of extractors to enable schemas to proliferate throughout the field.</p>
<p>This <a
    href="https://github.com/marda-alliance/metadata_extractors_registry"><i
        class="fa fa-github"></i> Registry</a> accompanies the MaRDA Metadata
Extractors <a href=https://marda-alliance.github.io/metadata_extractors_schema/">Schemas</a> (<a href="https://github.com/marda-alliance/metadata_extractors_schemas"><i class="fa fa-github"></i> repository</a>) and <a href="https://github.com/marda-alliance/metadata_extractors_api"><i class="fa fa-github"></i> API</a> to enable programmatic use and discovery of extractors.</p>

<p>This project proof-of-concept project was devised by the <a
    href="https://www.marda-alliance.org/working-groups">MaRDA</a> Metadata Extractors Working Group, and further discussions and instructions for how to get involved can be found at the <a href="https://github.com/marda-alliance/metadata_extractors"><i class="fa fa-github"></i> discussions meta-repository</a>.</p>

<p>The registry and the data within it is available under the terms of the <a href="https://github.com/marda-alliance/metadata_extractors_registry/blob/main/LICENSE">MIT license</a>.</p>

<h2>Contributing</h2>

<p>Anyone can contribute file type and extractor entries to this registry by following the instructions in the <a href="https://github.com/marda-alliance/metadata_extractors_registry">README on <i class="fa fa-github"></i> GitHub</a>.</p>
<p>After submitting a pull request, this data will be validated and added to the deployed database once it is merged.</p>


{% endblock %}
