@import url('https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.1/iosevka/iosevka.min.css');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

h1 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #F8F8F8;
  font-family: Iosevka Web;
  font-size: 12pt;
}

.logo {
  filter: none;
  -webkit-filter: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
}

.header {
  padding: 10px;
}

.logo:hover {
  filter: drop-shadow(0px 0px 20px #58D0BB) saturate(150%);
}

.header-title {
  font-family: Karla, sans-serif;
  padding: 10px;
  font-size: 1.5em;
}

.container {
  background-color: #0B1B28E3;
  min-height: 100%;
  min-height: 100vh;
  max-width: 900px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}


.entry-box {
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin: 20px;
    position: relative;
}

.filetype {
    border: 2px solid #EEFF41;
}

.extractor {
    border: 2px solid #FFAB40;
}

.filetype:hover {
    box-shadow: 0px 0px 6px 1px #EEFF41;
}

.extractor:hover {
    box-shadow: 0px 0px 6px 1px #FFAB40;
}

.ft {
  color: #EEFF41;
}

.ex {
  color: #FFAB40;
}

.read-more {
  color: #F8F8F8;
}

.ft-id, .ft-id > a {
  color: #EEFF41;
  border-radius: 5px;
  padding: 2px;
  font-family: monospace;
  font-weight: bold;
}

.ex-id, .ex-id > a {
  color: #FFAB40;
  border-radius: 5px;
  padding: 2px;
  font-family: monospace;
  font-weight: bold;
}

.ex-id:hover, .ex-id > a:hover, .ft-id:hover, .ft-id > a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.navbar {
  width: 100%;
  max-width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex: wrap;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
}

.navbar li {
  font-size: 1.1em;
  width: 180px;
}

a {
  color: #F8F8F8;
}

p > a{
  color: #58D0BB;
  text-decoration: none;
}

p > a:hover{
  color: #F8F8F8;
  box-shadow: 0px 0px 6px 1px #58D0BB;
  text-decoration: none;
  font-weight: bold;
}

.navbar a {
  display: block;
  color: #58D0BB;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border: 2px solid #58D0BB;
}


.navbar a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #F8F8F8;
  box-shadow: 0px 0px 6px 2px #58D0BB;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5s;
}

.ex-link > a {
  color: #FFAB40;
  border: 2px solid #FFAB40;
}

.ex-link > a:hover {
  box-shadow: 0px 0px 6px 2px #FFAB40;
}

.ft-link > a:hover {
  box-shadow: 0px 0px 6px 2px #EEFF41;
}

.ft-link > a {
  color: #EEFF41;
  border: 2px solid #EEFF41;
}


.ex-citation-title {
  font-style: italic;
}
